*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: url("Images/pexels-pixabay-70842.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

header a{
    text-decoration: none;
    color:yellow;
}
header{
    display: flex;
    padding: 1rem;
}
#logo{
    flex: 3;
    
}
.nav{
    flex: 2;
    display: flex;
    align-items: center;
}
.nav a{
    flex: 1;
}
header h2 i, a i{
    margin-right: .5em;
}
.nav a:hover{
    color: green;
}
.content{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    padding: 1.5rem;
}
.tag1{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}
.tag2{
    color: yellow;
}
.content div{
    margin-top: .8rem;
}
.content button{
    width: 25vw;
    margin-top: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: green;
    color: white;
    border: 1px solid green;
    cursor: pointer;
}
.menu{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(265px,1fr));
    background:linear-gradient(to right, rgb(39, 38, 38), rgb(61, 60, 60));
    color: white;
}
#Menuheading, #location{
    color: red;
    background:linear-gradient(to right, rgb(39, 38, 38), rgb(58, 57, 57));
    display: flex;
    justify-content: center;
}
.menu th{
    color: green;
    font-size: 1rem;
}
table{
    width: 100%;
    padding: 1rem;
}
table tr{
    display: flex;
    justify-content: center;
    margin-top: .7rem;
}
.menu td:nth-child(1){
    flex: 1;
    justify-content: left;
}
.menu td:nth-child(2){
    justify-self: right;
}
.Maincourse{
    grid-row: span 2;
}
.locations{
    background:linear-gradient(to right, rgb(39, 38, 38), rgb(58, 57, 57));
    color: white;
    display: flex;
}
.locations h2{
    color: green;
    margin-bottom: 1rem;
}
.locations div{
    flex: 1;
    padding: 1rem;
}
footer{
    background:linear-gradient(to right, rgb(39, 38, 38), rgb(107, 100, 100));
    color: white;
    padding: .25rem 1rem;
    display: flex;
    align-items: center;
    

}
#copyright{
    margin: 0 auto;
   
}
.l{

    background:linear-gradient(to right, rgb(39, 38, 38), rgb(107, 100, 100));
        text-align:center;
        margin-bottom: 1rem;
       
    
}

  
  .l div {
    display: inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  
  /* Icons */
  
 .l a {
    color:#fff;
    background: #DB6E82;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:28px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
  .l a:hover {
    background:black;
    color: white;
  }
  
  /* pop-up text */
  
  .l a span {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
 .l a span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
 .l a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }
  
  /* font awesome icons */
  
  .l a:nth-of-type(1):before {
  content:'\f09a';
  }
  .l a:nth-of-type(2):before {
  content:'\f099';
  }
  .l a:nth-of-type(3):before {
  content:'\f0d5';
  }
  .l a:nth-of-type(4):before {
  content:'\f113';
  }
  .l a:nth-of-type(5):before {
  content:'\f17d';
  }
  .l a:nth-of-type(6):before {
  content:'\f1cb';
  }